## [Start] Setting "contentTest" to default value of "[]". **
$util.qr($context.args.input.put("contentTest", $util.defaultIfNull($ctx.args.input.contentTest, "[]")))
## [End] Setting "contentTest" to default value of "[]". **
{}